langchain
langchain-community
llama_index.embeddings.langchain
langchain_groq
llama_index.llms.llama_cpp
llama-index-llms-langchain
llama_index.embeddings.huggingface
chromadb
groq
python-dotenv
torch>=2.0.0
nltk
sentence-transformers
faiss-cpu
huggingface-hub
pypdf
PyPDF2
accelerate
llama-index
llama-cpp-python
utils
unstructured[md]
spacy
datasets
span-marker
scikit-learn
git+https://github.com/huggingface/transformers
streamlit
